<h1>Bookshelf</h1>
<h2>All books</h2>

<div id="books">
    <div class="book">
        <h3>Hard to Be a God</h3>
        <p>by <strong>Strugatsky Brothers</strong></p>
    </div>

    <div class="book">
        <h3>1984</h3>
        <p>by <strong>George Orwell</strong></p>
    </div>
</div>